@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f6f9; // Professional light-gray background
}

* {
  box-sizing: border-box;
}